.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
}
.side-by-side {
  display: flex;
  flex-direction: row;
}
.side-by-side > div {
  width: 50%;
  text-align: center;
}
